.hero {
  background-color: #15191f;
  height: 90vh;
}

.hero_content {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  color: #F9FDFD;
}

.hero_content h1 {
  font-family: Poppins;
  font-size: 96px;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: -0.03em;
  text-align: left;
  max-width: 565px;
  margin-bottom: 0;
}

.hero_content p {
  margin: 10px 0 20px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 565px;
  opacity: .8;
}

.action_list {
  display: flex;
  gap: 20px;
}
