.button {
  width: 110px;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.buttonLarge {
  width: 200px;
  height: 55px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.primary {
  background-color: #01b763;
  border: none;
}

.secondary {
  border: 1px solid;
  background-color: transparent;
}
